Repository InsightSoftwareConsortium/ITKSoftwareGuide, pull requests merged in 2021-12, with the labels that each got.

#168 ENH: Fix Doxygen documentation paragraph
  SoftwareGuide/Latex/Appendices/CodingStyleGuide.tex
Labels: type:Enhancement, area:Appendices, language:LaTeX, type:BookStyle

#170 ENH: Update coding style guidelines
  SoftwareGuide/Latex/Appendices/CodingStyleGuide.tex
Labels: type:Enhancement, area:Appendices, language:LaTeX, type:BookStyle

#171 DOC: Remove recursive inclusion of .h files
  SoftwareGuide/Latex/Appendices/CodingStyleGuide.tex
Labels: area:Appendices, language:LaTeX, type:BookStyle, area:Documentation

#172 STYLE: Do not use `void` in empty function parameter list
  CMake/ITK_CheckCCompilerFlag.cmake
  SoftwareGuide/Cover/Source/ModelBasedSegmentation.cxx
  SoftwareGuide/Latex/Appendices/CodingStyleGuide.tex
Labels: area:Cover, area:Appendices, language:LaTeX, type:BookStyle, type:Style, type:Infrastructure

#169 DOC: Add section on debugging Python wrappings
  SoftwareGuide/Latex/DevelopmentGuidelines/CreateAModule.tex
Labels: area:DevelopmentGuidelines, language:LaTeX, type:BookStyle, area:Documentation
