Repository InsightSoftwareConsortium/ITKSoftwareGuide, pull requests merged in 2022-08, with the labels that each got.

#186 ENH: Use https instead of http when https works
  .hooks-config.bash
  CMake/CTestCustom.cmake.in
  CMake/ExternalData.cmake
  CMake/ITKSetStandardCompilerFlags.cmake
  CMake/SlicerMacroCheckExternalProjectDependency.cmake
  CMake/SlicerMacroEmptyExternalProject.cmake
  CONTRIBUTING.md
  Latex/Insight.bib
  Latex/gitdags.sty
  README.md
  SoftwareGuide/Latex/01-PrintedPreamble-Common.tex
  SoftwareGuide/Latex/02-Cover-Book1.tex
  SoftwareGuide/Latex/03-Abstract-Common.tex
  SoftwareGuide/Latex/Appendices/CodingStyleGuide.tex
  SoftwareGuide/Latex/Appendices/GitWorkflow.tex
  SoftwareGuide/Latex/Appendices/Licenses.tex
  SoftwareGuide/Latex/Architecture/DataRepresentation.tex
  SoftwareGuide/Latex/Architecture/SystemOverview.tex
  SoftwareGuide/Latex/DesignAndFunctionality/ConfidenceConnectedOnBrainWeb.tex
  SoftwareGuide/Latex/DesignAndFunctionality/IO.tex
  SoftwareGuide/Latex/DesignAndFunctionality/Registration.tex
  SoftwareGuide/Latex/DesignAndFunctionality/VisualizingDeformationFieldsUsingParaview.tex
  SoftwareGuide/Latex/DevelopmentGuidelines/CreateAModule.tex
  SoftwareGuide/Latex/DevelopmentGuidelines/SoftwareProcess.tex
  SoftwareGuide/Latex/Introduction/Installation.tex
  SoftwareGuide/Latex/Introduction/Introduction.tex
  Utilities/GitSetup/NOTICE
  Utilities/GitSetup/config.sample
  Utilities/GitSetup/git-review-push
  Utilities/GitSetup/github-tips
  Utilities/GitSetup/setup-github
  Utilities/GitSetup/setup-hooks
  Utilities/GitSetup/setup-ssh
  Utilities/GitSetup/setup-stage
  Utilities/GitSetup/setup-upstream
  Utilities/GitSetup/setup-user
  Utilities/GitSetup/tips
  Utilities/Hooks/commit-msg
  Utilities/Hooks/pre-commit
  Utilities/Hooks/prepare-commit-msg
  Utilities/SetupForDevelopment.sh
Labels: type:Enhancement, area:Introduction, area:DevelopmentGuidelines, area:DesignAndFunctionality, area:Architecture, area:Appendices, language:LaTeX, type:BookStyle, type:Infrastructure

#187 ENH: Bump ITK version to v5.3rc04
  SuperBuild/External_ITK.cmake
Labels: type:Enhancement

#188 ENH: Switch Github Actions Linux environment
  .github/workflows/build.yml
Labels: type:Enhancement, type:Infrastructure
