Repository InsightSoftwareConsortium/ITKSoftwareGuide, pull requests merged in 2022-03, with the labels that each got.

#179 STYLE: Use Python f" formatting
  SoftwareGuide/Examples/ParseCxxExamples.py
  SoftwareGuide/Examples/RunExamples.py
Labels: area:Examples, type:Style

#180 Clang format of doc
  .clang-format
  SoftwareGuide/Latex/Appendices/CodingStyleGuide.tex
  SoftwareGuide/Latex/Appendices/GitWorkflow.tex
  SoftwareGuide/Latex/Architecture/Iterators.tex
  SoftwareGuide/Latex/Architecture/SystemOverview.tex
  SoftwareGuide/Latex/DesignAndFunctionality/ImageInterpolators.tex
  SoftwareGuide/Latex/DevelopmentGuidelines/CreateAModule.tex
  SoftwareGuide/Latex/DevelopmentGuidelines/WriteAFilter.tex
  SoftwareGuide/Latex/Introduction/Installation.tex
Labels: area:Introduction, area:DevelopmentGuidelines, area:DesignAndFunctionality, area:Architecture, area:Appendices, language:LaTeX, type:BookStyle

#182 BUG: Use https protocol for superbuild CI
  .github/workflows/build.yml
Labels: type:Bug, type:Infrastructure
