Repository InsightSoftwareConsortium/ITKSoftwareGuide, pull requests merged in 2025-03, with the labels that each got.

#222 DOC: Spelling corrections
  SoftwareGuide/Latex/Architecture/DataRepresentation.tex
  SoftwareGuide/Latex/Architecture/Iterators.tex
  SoftwareGuide/Latex/Architecture/SystemOverview.tex
Labels: area:Architecture, language:LaTeX, type:BookStyle, type:Documentation

#223 ENH: Bump ITK to v5.4.3
  SuperBuild/External_ITK.cmake
Labels: type:Enhancement

#226 DOC: Fix PDF file properties in Book 2
  SoftwareGuide/Art/ImageRegistration1TraceMetric.eps
  SoftwareGuide/Art/ImageRegistration1TraceTranslations.eps
  SoftwareGuide/Art/ImageRegistration4TraceMetric.eps
  SoftwareGuide/Art/ImageRegistration4TraceTranslations.eps
  SoftwareGuide/Art/ImageRegistration4TraceTranslations2.eps
  SoftwareGuide/Art/ImageRegistration5TraceAngle1.eps
  SoftwareGuide/Art/ImageRegistration5TraceAngle2.eps
  SoftwareGuide/Art/ImageRegistration5TraceMetric1.eps
  SoftwareGuide/Art/ImageRegistration5TraceMetric2.eps
  SoftwareGuide/Art/ImageRegistration5TraceTranslations1.eps
  SoftwareGuide/Art/ImageRegistration5TraceTranslations2.eps
  SoftwareGuide/Art/ImageRegistration6TraceAngle.eps
  SoftwareGuide/Art/ImageRegistration6TraceMetric.eps
  SoftwareGuide/Art/ImageRegistration6TraceTranslations.eps
  SoftwareGuide/Art/ImageRegistration7TraceAngle.eps
  SoftwareGuide/Art/ImageRegistration7TraceMetric.eps
  SoftwareGuide/Art/ImageRegistration7TraceScale.eps
  SoftwareGuide/Art/ImageRegistration7TraceTranslations.eps
  SoftwareGuide/Art/ImageRegistration8TraceAngle.eps
  SoftwareGuide/Art/ImageRegistration8TraceMetric.eps
  SoftwareGuide/Art/ImageRegistration8TraceTranslations.eps
  SoftwareGuide/Art/ImageRegistration9TraceAngle.eps
  SoftwareGuide/Art/ImageRegistration9TraceMetric.eps
  SoftwareGuide/Art/ImageRegistration9TraceTranslations.eps
  SoftwareGuide/Art/MultiResImageRegistration1TraceMetric.eps
  SoftwareGuide/Art/MultiResImageRegistration1TraceTranslations.eps
Labels: type:Artwork, type:Documentation
